<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Saintly</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>


    <!-- APPLICATION SCRIPTS -->

    <script src="scripts/app.js"></script>
   </head>

   <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Saintly</h1>
        <p>Your Saints Builder!</p>
      </div>
    </div>


<!-- BEGIN ADD SAINT FORM -->

    <section id='saint-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Saint</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="imageUrl">Image Url:</label>
              <div class="col-md-4">
              <input id="imageUrl" name="imageUrl" type="text" placeholder="http://www.image.com" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Saint Name:</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="Francis of Assisi" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="patronSaintOf">Patron Saint of:</label>
              <div class="col-md-4">
              <input id="patronSaintOf" name="patronSaintOf" type="text" placeholder="Animals, Merchants and Ecology" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="feastDate">Feast:</label>
              <div class="col-md-4">
              <input id="feastDateId" name="feastDate" type="text" placeholder="October 4" class="form-control input-md">
              </div>
            </div>

            <!-- Text input -->
            <div class="form-group">
              <label class="col-md-4 control-label" name="birthPlace">Birthplace:</label>
              <div class="col-md-4">
              <input id="birthPlace" name="birthPlace" type="text" placeholder="Assisi, Italy" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="funFact">Fun Fact:</label>
              <div class="col-md-4">
              <input id="funFactId" name="funFact" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- DedicatedChurch Name-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="dChurchName">Church Name:</label>
              <div class="col-md-4">
              <input id="dChurchId" name="dChurchName" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- DedicatedChurch Location-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="dChurchLocation">Church Location:</label>
              <div class="col-md-4">
              <input id="dChurchLocationId" name="dChurchLocation" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- DedicatedChurch Url-->
            <div class="form-group">
              <label class="col-md-4 control-label" name="dChurchUrl">Church Url:</label>
              <div class="col-md-4">
              <input id="dChurchUrlId" name="dChurchUrl" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Saint:</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END SAINT FORM -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Saints</h2>
        </div>
      </div>
      <!-- saints! -->
      <div id='saints'>
         <!--handlebars template for one saint starts here -->
         <script id='saint-template' type='text/x-handlebars-template'>
          <!-- one saint -->
          <div class="row saint" data-saint-id="{{_id}}"> <!--take note, this _id is unique to each saint-->

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin saint internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail saint-art">
                      <img src="{{imageUrl}}" alt="saint image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Saint Name:</h4>
                          <span class='saint-name'>{{name}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Patron Saint of:</h4>
                          <span class='patron-name'>{{patronSaintOf}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Feast:</h4>
                          <span class='saint-feastDate'>{{feastDate}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Birthplace:</h4>
                          <span class='birthplace-name'>{{birthplace}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Fun Fact:</h4>
                          <span class='funfact-details'>{{funFact}} </span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Dedicated Churches:</h4>
                          <span class='dedicatedchurches'>
                            <ul>
                            {{#each dedicatedChurches}}
                               <li>{{name}}</li>
                               <li>{{location}}</li>
                               <li><a href="{{url}}">{{url}}</a></li>
                            {{/each}}
                           </ul>
                         </span>
                       </li>

                    </div>

                  </div>
                  <!-- end of saint internal row -->

                  <div class='panel-footer'>
                    <button class='btn btn-primary add-church'>Add Church</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one saint -->
        </script>
        <!---end of handlebars template is here-- >


      </div>
    </section>

    <!-- begin churchModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="churchModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Church</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="churchName">Name</label>
                <div class="col-md-4">
                  <input id="churchName" name="churchName" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="location">Location</label>
                <div class="col-md-4">
                  <input id="location" name="locationName" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>

            <!-- Text input-->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="website">Web Site</label><!--intentional trailing space-->
                  <div class="col-md-4">
                    <input id="url" name="urlName" type="text" placeholder="" class="form-control input-md">
                  </div>
                </div>
              </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveChurch">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </body>
</html>
</body>
</html>

<!-- Textarea -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="churches">Dedicated Churches:</label>
  <div class="col-md-4">
    <textarea class="form-control" id="dedicatedChurches" type="text" placeholder="St. Francis of Assisi Church; San Jose,CA; http://www.sfoasj.com" name="dedicatedChurches">[must enter an array]</textarea>
  </div>
</div> -->
