body {
  background-color: #ddc98f;
  font-family: Avenir;
  font-weight: 600;
}

div.panel-body {
  background-color: #d35400;
}
.jumbotron {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
}
